.project
.HA_VERSION
.cloud/
.storage/
.vscode/
.homekit.state
.uuid
*.swp
*~
.DS_Store
._.DS_Store
.idea
.secret
*.pid
*.csr
*.crt
*.key
*.pem
automations.yaml
secrets.yaml
ip_bans.yaml
known_devices.yaml
/*.json
*.conf
*.log
*.txt
*.sh
*.xml
*.db
*.sqlite
ozw_config/
tts/
deps/
www/*
!www/js/
custom_components/*
!custom_components/surveillance_station/
custom_components/*/__pycache__/*
custom_components/__pycache__/*
themes/*/
