.project
.HA_VERSION
.cloud/
.storage/
.vscode/
.homekit.state
.uuid
*.swp
*~
.DS_Store
._.DS_Store
.idea
.secret
._secrets.yaml
*.pid
*.csr
*.crt
*.key
*.pem
automations.yaml
scenes.yaml
secrets.yaml
ip_bans.yaml
known_devices.yaml
home-assistant.log*
home-assistant_v2.*
/*.json
*.conf
*.log
*.txt
*.sh
*.xml
*.db
*.sqlite
ozw_config/
tts/
deps/
www/*
!www/js/
!www/css/
!blueprints
blueprints/*
!blueprints/automation
blueprints/automation/*
!blueprints/automation/local
custom_components/*
!custom_components/surveillance_station/
custom_components/*/__pycache__/*
custom_components/__pycache__/*
image/
themes/*/
