.project
*.swp
*~
.DS_Store
.idea
.secret
*.pid
*.csr
*.crt
*.key
*.pem
secrets.yaml
ip_bans.yaml
known_devices.yaml
google_calendars.yaml
entity_registry.yaml
*.json
*.conf
*.log
*.txt
*.sh
*.py
*.json
*.xml
*.db
*.sqlite
ozw_config/
tts/
deps/
n.jpg
r.jpg
*.json
cox_usage.json
